* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: white;
}

body {
    background-color: #141C2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/*----------------CONTAINER------------------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
    width: 70rem;
    background-color: #141C2F;
    font-family: 'Poppins', sans-serif;
}

/*----------------LOGO------------------*/

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
}

.logo p {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}

/*----------------INPUT------------------*/

.input {
    height: 10%;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2A48;
}

.input i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    color: #0378F9;
    margin-left: 1rem;
}

.input input {
    display: block;
    height: 100%;
    width: 70%;
    border: none;
    background-color: transparent;
}

.input input::placeholder {
    color: rgb(170, 170, 170);
    font-family: 'Poppins', sans-serif;
}

.input input:focus {
    outline: none;
    caret-color: white;
}

.input button {
    display: block;
    height: 80%;
    width: 15%;
    border-radius: 1rem;
    border: none;
    background-color: #0378F9;
    color: white;
    margin-right: 1rem;
}

/*----------------CONTENT------------------*/

.content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #1F2A48;
}

.image {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    height: 50%;
    width: 30%;
}

.image div {
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    /*Image not adaptable*/
    background-image: url(./imgs/WhatsApp\ Image\ 2021-01-12\ at\ 20.20.47.jpeg);
    background-size: cover;
    margin-top: 3rem;
}

.contentDetails {
    height: 95%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

/*----*/

.profileInfo {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.info h1 {
    font-size: 2rem;
}

.info #name p {
    font-size: 1.5rem;
    color: #0378F9;
    font-weight: 1000;
}

#bio p {
    font-size: 1.2rem;
}

.joinDate {
    display: flex;
    justify-content: right;
    align-items: start;
    height: 100%;
    width: 50%;
}

.joinDate p {
    margin-top: 5%;
    font-size: 1.3rem;
    font-weight: 700;
}

/*----*/

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    height: 25%;
    width: 100%;
    border-radius: 1rem;
    background-color: #141C2F;
}

.stats h1 {
    font-size: 1rem;
    font-weight: 1000;
}

.stats p {
    font-size: 1.7rem;
    font-weight: 1000;
}

.repos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.following {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
}

/*----*/

.socialLinks {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 20%;
    width: 100%;
}

.location {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90%;
    width: 100%;
}

.location i {
    margin-right: 0.9rem;
}

.twitter {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90%;
    width: 100%;
}

.twitter i {
    margin-right: 0.9rem;
}

.link {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90%;
    width: 100%;
}

.link i {
    margin-right: 0.9rem;
}

.github {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90%;
    width: 100%;
}

.github i {
    margin-right: 0.9rem;
}