* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Poppins;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
}

#title {
    font-size: 4rem;
    text-align: center;
    height: 10vh;
    width: auto;
}

#game-area {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2rem solid black;
}

#board {
    min-height: 90%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board table {
    height: 90%;
    width: 40%;
}

#board table, td {
    border: 0.2rem solid black;
}

#board td {
    text-align: center;
    height: 10%;
    width: 10%;
}

#button-section {
    margin: 1rem;
}