* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 90vh;
    width: 50vw;
    min-width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

#header {
    height: 5%;
    width: 100%;
    border: 1px solid purple;
}

#result {
    height: 15%;
    width: 100%;
    border: 1px solid purple;
}

#buttons {
    height: 75%;
    width: 100%;
    border: 1px solid purple;
}