* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.frame {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.title {
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    letter-spacing: 1rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 0.2rem black;
    height: 60vh;
    width: 70vw;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
}

.select-area {
    height: 90%;
    width: 48%;
    border: 1px solid blue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-area div:nth-child(1) {
    height: 20%;
    width: 100%;
    border: 1px solid black;
}

.select-area div:nth-child(2) {
    height: 60%;
    width: 100%;
    border: 1px solid black;
}

.select-area div:nth-child(3) {
    height: 20%;
    width: 100%;
    border: 1px solid black;
}

.result-area {
    height: 90%;
    width: 48%;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    height: 50%;
    width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.tip-amt {
    display: flex;
    flex-direction: row;
}

.tip-amt section:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    flex-direction: row;
}

.total section:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.reset {
    height: 50%;
    width: 100%;
    border: 1px solid green;
    position: relative;
}

.reset button {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}