* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

nav {
    height: 15vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid gray;
}

.logo {
    flex: 1 2 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
}

.logo i {
    margin-left: 1rem;
    margin-right: 1.5rem;
    display: none;
}

.logo i:hover {
    cursor: pointer;
    color: gray;
}

.links {
    flex: 2 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links li {
    list-style: none;
    font-size: 1.5rem;
}

.links a {
    text-decoration: none;
    color: gray;
}

.links a:hover {
    cursor: pointer;
    border-bottom: 3px solid #FF7D1B;
    padding-bottom: 4rem;
}

.profile-cart {
    flex: 4 1 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.profile-cart i {
    color: gray;
}

.profile-cart i:hover {
    cursor: pointer;
    color: black;
}

.profile-cart img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2.5px solid transparent;
}

.profile-cart img:hover {
    cursor: pointer;
    border: 2.5px solid #FF7D1B;
}

.content {
    height: 85vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallerySection {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainImage {
    height: 40rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainImage img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.thumbnails {
    height: 10rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnails div {
    height: 9rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.thumbnails img {
    max-height: 100%;
    max-width: 100%;
    object-fit: container;
    border-radius: 1rem;
}

.descriptionSection {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    height: 60%;
    width: 45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    height: 40%;
    width: 100%;
}

.title h2 {
    color: #FF7D1B;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.title h1 {
    font-size: 5rem;
}

.descriptionText {
    height: 20%;
    width: 100%;
}

.descriptionText p {
    color: gray;
    font-size: 1.5rem;
}

.pricing {
    align-self: flex-start;
    height: 15%;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pricing .endPrice {
    display: flex;
    justify-content: space-between;
}

.pricing #discountPrice p {
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.pricing #discount p {
    display: block;
    color: #FF7D1B;
    background-color: #ffd2b0;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.pricing #originalPrice p {
    font-size: 1rem;
    color: gray;
    font-weight: 400;
    text-decoration: line-through;
}

.buttons {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons .quantity {
    height: 60%;
    width: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eef1ff;
    border-radius: 1rem;
}

.buttons .quantity button {
    height: 100%;
    width: 33%;
    background-color: transparent;
    border: none;
    color: #FF7D1B;
}

.buttons .quantity button:hover {
    cursor: pointer;
}

.buttons .quantity p {
    width: 33%;
    font-size: 2rem;
    text-align: center;
    background-color: transparent;
    border: none;
}

.buttons .addCart {
    height: 60%;
    width: 57%;
    background-color: #FF7D1B;
    border-radius: 1rem;
}

.buttons .addCart button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.buttons .addCart button:hover {
    cursor: pointer;
}

.buttons .addCart i {
    color: white;
    margin-right: 1rem;
}

@media screen and (max-width:1144px) {
    nav {
        min-width: 1000px;
    }
    .content {
        min-width: 1000px;
    }
    .buttons {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .buttons .addCart {
        height: 4rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    .buttons .quantity {
        height: 4rem;
    }
}

@media screen and (max-width:1000px) {
    nav {
        min-width: 40rem;
    }
    .content {
        min-width: 40rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .gallerySection {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .mainImage {
        height: 27rem;
        width: 100%;
        max-width: 45rem;
        min-height: unset;
        min-width: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .mainImage img {
        height: 100%;
        width: 100%;
        min-width: 40rem;
        min-height: unset;
        min-width: 0;
        border-radius: 2rem;
    }
    .thumbnails {
        display: none;
    }
    .descriptionSection {
        width: 100%;
        min-width: 40rem;
    }
    .description section {
        padding-top: 2rem;
    }
    .description .title h1 {
        padding-top: 1rem;
        font-size: 3rem;
    }
    .buttons .quantity {
        height: 4rem;
    }
    .buttons .addCart {
        height: 4rem;
    }
}

@media screen and (max-width:800px) {
    .logo i {
        display: block;
    }
    .links {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .endPrice #discountPrice {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 482px) {
    nav {
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: unset;
        min-width: unset;
        /*overflow: hidden;*/
    }
    .logo i {
        display: block;
    }
    .links {
        display: none;
    }
    .content {
        height: auto;
        width: 100vw;
        min-height: unset;
        min-width: 0;
        margin: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gallerySection {
        height: auto;
        width: 100vw;
        min-height: unset;
        min-width: 0;
        margin: 0;
    }
    .mainImage {
        height: 27rem;
        width: 100%;
        min-height: unset;
        min-width: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .mainImage img {
        height: 100%;
        width: 100%;
        min-height: unset;
        min-width: 0;
        border-radius: 0;
    }
    .descriptionSection {
        height: auto;
        width: 100%;
        min-height: unset;
        min-width: 0;
    }
    .description {
        height: auto;
        width: 100%;
    }
    .description section {
        padding-top: 2rem;
    }
    .description .title h1 {
        padding-top: 1rem;
        font-size: 3rem;
    }
    .pricing {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .pricing #originalPrice p {
        font-size: 1.5rem;
    }
    .endPrice #discountPrice {
        margin-right: 1rem;
    }
    .buttons {
        flex-direction: column;
        justify-content: space-between;
    }
    .buttons .quantity {
        height: 5rem;
        width: 100%;
    }
    .buttons .addCart {
        height: 5rem;
        width: 100%;
        margin-top: 1.5rem;
    }
}