* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Poppins;
}

.main {
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid green;
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
    height: 50rem;
    width: 90rem;
}

.container div {
    border-radius: 1rem;
}

.report-box {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #0D1323;
}

.report-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 70%;
    background-color: #5746EA;
    border-radius: 1rem;
    padding: 3rem;
}

.report-container h1 {
    font-size: 2.5rem;
    color: white;
}

.img-container {
    height: 7rem;
    width: 7rem;
    background-image: url(./imgs/me.jpeg);
    background-size: cover;
    background-color: #5746EA;
    border-radius: 50% !important;
    margin-bottom: 2rem;
}

.img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.3rem solid white;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1323;
    height: 30%;
    padding: 3rem;
}

.filter-container ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
}

.filter-container li {
    list-style: none;
    font-size: 1.5rem;
    color: white;
}