* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --game-box-dim: 50vh;
}

html {
    font-size: 10px;
    font-family: Poppins;
}

header {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#game-area {
    height: var(--game-box-dim);
    width: var(--game-box-dim);
    border: 0.2rem solid black;
    text-align: center;
}

td {
    height: 10vh;
    width: 10vh;
    border: 0.1rem solid black;
}

.reset {
    background: white;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.reset:hover {
    background: lightblue;
    border: 0.2rem solid black;
    font-weight: 600;
    cursor: pointer;
   }