* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --game-box-dim: 50vh;
}

html {
    font-size: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#game-area {
    height: var(--game-box-dim);
    width: var(--game-box-dim);
    border: 0.2rem solid black;
}