:root {
    --btnWidth: 20%;
    --todoListHeight: 60vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.header {
    height: 30vh;
    width: auto;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputArea {
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid pink;
}

.inputArea form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    height: 80%;
    width: 50%;
    transition: 0.3s;
}

#inputTodo {
    height: 100%;
    width: 90%;
    font-size: 2rem;
    padding-left: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    transition: 0.3s;
}

#inputTodo:focus {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    background-color: lightblue;
}

#addTodoBtn {
    height: 100%;
    width: 20%;
    background: white;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    padding: 0.5rem;
    transition: 0.3s;
}

#addTodoBtn:hover {
    background-color: lightblue;
    cursor: pointer;
}

.todoList {
    width: auto;
    min-height: var(--todoListHeight);
    border: 0.2rem solid black;
}

.todoList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: Poppins;
    min-height: var(--todoListHeight);
    padding: 2rem;
    border: 0.2rem solid pink;
}

.todoList li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
    min-height: 10%;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    margin: 2rem;
}

.todoList p {
    width: calc(100% - var(--btnWidth)*2);
    padding: 0rem 2rem 0rem 2rem;
    font-size: 2rem;
}

.todoList button {
    width: calc(var(--btnWidth));
    height: calc(var(--todoListHeight)/100*10);
    background: lightblue;
    font-family: Poppins;
    border: 0.1rem solid rgb(22, 157, 247);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.todoList button:hover {
    cursor: pointer;
    background: darkblue;
    color: white;
}