html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ebebeb;
}

.hidden {
  display: none !important;
}

nav {
  height: 20vh;
  width: auto;
  border-bottom-left-radius: 10rem;
  background-color: #5964E0;
}

#header-container {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

#theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme i {
  color: white;
}

#theme-switch {
  width: 3rem;
  height: 1.8rem;
  margin: 0 1rem 0 1rem;
  padding: 0 0.3rem 0 0.3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

#theme-switch div {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 100%;
  background-color: #5964E0;
}

#display {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#search {
  position: relative;
  height: 10vh;
  width: 100%;
  margin-bottom: 5rem;
  background-color: white;
  border: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 40fr 25fr 20fr;
  align-items: center;
}

#search div {
  height: 100%;
  width: 100%;
}

#text-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#text-filter i {
  margin: 0 1.5rem 0 1.5rem;
  color: #5964E0;
}

#text-filter input {
  border: none;
  height: 60%;
  width: 100%;
}

#text-filter input::placeholder {
  color: gray;
}

#location-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173);
}

#location-filter i {
  margin: 0 1.5rem 0 1.5rem;
  color: #5964E0;
}

#location-filter input {
  border: none;
  height: 60%;
  width: 100%;
}

#location-filter input::placeholder {
  color: gray;
}

#submit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#submit div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* The container */

#submit label {
  height: 2.3rem;
  width: 2.3rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10%;
}

/* Hide the browser's default checkbox */

#submit label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.3rem;
  width: 2.3rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

#submit label:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

#submit label input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

#submit .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

#submit label input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

#submit label .checkmark:after {
  left: 9px;
  top: 3px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#submit div p {
  font-size: 1.3rem;
  font-weight: 500;
}

#submit button {
  height: 50%;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  background-color: #5964E0;
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jobs {
  min-height: 65vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-content: space-between;
}

#job {
  position: relative;
  height: 22rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(40%, -50%);
  height: 5rem;
  width: 5rem;
  background-color: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#short-description {
  width: 80%;
  margin: 0 auto 0 auto;
}

#short-description p:nth-child(1), p:nth-child(3) {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: gray;
}

#short-description p:nth-child(2) {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: black;
}

#country {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#country p {
  font-weight: 600;
  color: #5964E0;
}

@media screen and (max-width: 1000px) {
  #search {
    grid-template-columns: 1.3fr 1fr 1fr;
  }
  #jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  #search {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*MOBILE*/

@media screen and (max-width: 700px) {
  #location-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  #search {
    grid-template-columns: 5fr 1fr 1fr;
  }
  #submit button {
    padding: 0 20% 0 20%;
    margin: 0 10% 0 0;
  }
}

@media screen and (max-width: 650px) {
  #jobs {
    grid-template-columns: 1fr;
  }
}

/*Overlay Filter*/

#overlay-filter {
  position: absolute;
  z-index: 2;
  min-height: 10rem !important;
  width: 100%;
  top: 110%;
  right: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(102, 102, 102);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#overlay-checkbox-container {
  height: 2.3rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* The container */

#overlay-filter label {
  height: 2.3rem;
  width: 2.3rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10%;
}

/* Hide the browser's default checkbox */

#overlay-filter label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */

#overlay-filter label:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

#overlay-filter label input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

#overlay-filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

#overlay-filter label input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

#overlay-filter label .checkmark:after {
  left: 9px;
  top: 3px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#overlay-filter p {
  font-size: 1.3rem;
  font-weight: 500;
}