html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ebebeb;
}

nav {
  height: 20vh;
  width: auto;
  border-bottom-left-radius: 10rem;
  background-color: #5964E0;
}

#header-container {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

#theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme i {
  color: white;
}

#theme-switch {
  width: 3rem;
  height: 1.8rem;
  margin: 0 1rem 0 1rem;
  padding: 0 0.3rem 0 0.3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

#theme-switch div {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 100%;
  background-color: #5964E0;
}

#display {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#search {
  height: 10vh;
  width: 100%;
  margin-bottom: 5rem;
  background-color: white;
  border: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 40fr 30fr 30fr;
  align-items: center;
}

#search div {
  height: 100%;
  width: 100%;
}

#text-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#text-filter i {
  margin: 0 1.5rem 0 1.5rem;
  color: #5964E0;
}

#text-filter input {
  border: none;
  height: 60%;
  width: 100%;
}

#text-filter input::placeholder {
  color: gray;
}

#location-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173);
}

#location-filter i {
  margin: 0 1.5rem 0 1.5rem;
  color: #5964E0;
}

#location-filter input {
  border: none;
  height: 60%;
  width: 100%;
}

#location-filter input::placeholder {
  color: gray;
}

#submit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#submit label {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}

#submit input {
  height: 2rem;
  width: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-color: rgb(221, 221, 221);
  border-radius: 0.1rem;

}

#submit button {
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  background-color: #5964E0;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#jobs {
  min-height: 65vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-content: space-between;
}

#job {
  position: relative;
  height: 22rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(40%, -50%);
  height: 5rem;
  width: 5rem;
  background-color: brown;
  border-radius: 1rem;
}

#short-description {
  width: 80%;
  margin: 0 auto 0 auto;
}

#short-description p:nth-child(1), p:nth-child(3) {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: gray;
}

#short-description p:nth-child(2) {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: black;
}

#country {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#country p {
  font-weight: 600;
  color: #5964E0;
}